* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: serif;
    font-weight: 400;
}

header {
    border-bottom: 1px solid #030303;
    text-align: center;
    padding: 2rem;
    font-size: 1.125rem;
    line-height: 1.5;
}

section {
    
    text-align: center;
    padding: 1rem;
    font-size: 1.125rem;
}

.cta-button {
    display: block;
    border: #030303;
    padding: 1rem 1.5rem;
    margin: 2rem auto;
    border-radius: 9999px;
    background-color: #030303;
    color: #fff;
    width: fit-content;
    text-decoration: none;
    text-transform: uppercase;
}


.genre {
    display: inline-block;
    border: #019af3;
    padding: 1rem;
    margin: 2rem auto;
    border-radius: 3rem;
    background-color: #019af3;
    color: #fff;
}

.seemore {
    display: inline-block;
    border: #030303;
    padding: 1rem;
    margin: 2rem auto;
    border-radius: 3rem;
    background-color: #030303;
    color: #fff;
}

footer {
    background-color: #030303;
    color: #fff;
    text-align: center;
    padding: 2rem;
}